@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background-color: #333;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
}

/* ------------------ */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/* И подключение системных шрифтов */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* Common styles */
body {
  font-family: Montserrat;
}

.container {
  max-width: 1090px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 39px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
}

.text {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #252B42;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__body {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__inner {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 950px) {
  .header__inner {
    width: 65%;
  }
}

.header__logo {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 0 0 20px;
}
@media (max-width: 949px) {
  .header__list li {
    margin: 0 0 0 18px;
  }
}

.header__link {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  position: relative;
}
.header__link:after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.header__link:hover:after {
  opacity: 1;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .header__login {
    display: none;
  }
}

.header__item {
  max-width: 230px;
  padding: 15px 25px;
  margin-left: 15px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
@media (max-width: 950px) {
  .header__item {
    padding: 15px 10px;
  }
}
@media (max-width: 880px) {
  .header__item {
    padding: 15px 0px;
  }
}
.header__item:hover {
  background: #23A6F0;
}
.header__item:before {
  margin: 0 0 0 15px;
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 100px 0 0 0;
}

.content__text {
  font-size: 30px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__inner {
    width: 100%;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    width: 30px;
    height: 20px;
    display: block;
    position: relative;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 9px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    background: #252B42;
    padding: 70px 10px 20px 20px;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }

  .header__menu.active {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list li {
    margin: 30px 0 20px 0;
  }

  .header__link {
    font-size: 30px;
  }

  .intro {
    padding: 70px 0 0 0;
  }
}
/* Intro */
.intro {
  background: url("img/1.png") center no-repeat;
  background-color: #252B42;
}
@media (max-width: 767px) {
  .intro {
    background: #252B42;
  }
}

.intro__row {
  width: 100%;
  min-height: 743px;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1019px) {
  .intro__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.intro__column img {
  width: 100%;
}

.intro-item_1 {
  max-width: 509px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.intro-item_1 h1 {
  color: #FFF;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  .intro-item_1 h1 {
    font-size: calc(40px + 30.6 * ((100vw - 320px) / 1120));
  }
}
@media (min-width: 767px) {
  .intro-item_1 h1 {
    font-size: calc(40px + 18 * ((100vw - 320px) / 1120));
  }
}
.intro-item_1 p {
  max-width: 376px;
  margin: 35px 0;
  color: #FFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.intro__text {
  width: 100%;
  max-width: 370px;
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.intro__text .intro__link {
  margin: 10px 5px;
  padding: 15px 36px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid #fff;
  border-radius: 37px;
  -webkit-transition: background 0.3s ease, border 0.2s linear;
  transition: background 0.3s ease, border 0.2s linear;
}
.intro__text .intro__link:hover {
  background: #23A6F0;
  border: 1px solid #23A6F0;
}

@media (max-width: 767px) {
  .intro-item_1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-item_1 h1, .intro-item_1 p {
    text-align: center;
  }
  .intro-item_1 h1 {
    line-height: 57px;
  }

  .intro-item_2 {
    margin-top: 30px;
  }

  .intro__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* features */
.features {
  padding: 96px 0;
  background-color: #252B42;
}

.features__top {
  margin-bottom: 70px;
}

.features__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__title {
  max-width: 435px;
}

.features__describtion {
  max-width: 470px;
  margin-top: 10px;
  color: #737373;
}

.features__cards {
  max-width: 1046px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  max-width: 328px;
  min-height: 139px;
  margin: 10px 10px;
  padding: 25px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
}
.features__item:before {
  color: #23A6F0;
  font-size: 39px;
  margin-right: 20px;
}

.features__inner {
  max-width: 213px;
  min-height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__subtitle {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.features__subtext {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

/* Footer */
.footer {
  padding: 80px 0;
  background: #252B42;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 890px) {
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__social {
  max-width: 238px;
  min-height: 146px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .footer__social {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 920px) {
  .footer__social {
    margin-right: 0;
  }
}
@media (max-width: 890px) {
  .footer__social {
    margin-bottom: 30px;
  }
}

.footer__link {
  text-align: left;
  font-size: 24px;
}

.footer__text {
  text-align: left;
}
@media (max-width: 767px) {
  .footer__text {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__inner {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__links:before {
  margin-right: 25px;
  font-size: 23px;
  color: #23A6F0;
}
@media (max-width: 767px) {
  .footer__links:before {
    margin-right: 0;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__title {
  margin-bottom: 15px;
  color: #fff;
  background: transparent;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.footer__column {
  max-width: 241px;
}
.footer__column:not(:last-child) {
  margin-right: 70px;
}
@media (max-width: 767px) {
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .footer__column:not(:last-child) {
    margin-right: 0;
  }
}

.footer__list li {
  margin: 5px 0;
}
@media (max-width: 767px) {
  .footer__list {
    text-align: center;
  }
}

.footer__item {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* testimonials */
.testimonials {
  background-color: #252B42;
  padding: 112px 0;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimonials__row:not(:last-child) {
  margin-bottom: 80px;
}

.testimonials__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__description {
  margin-top: 10px;
  max-width: 470px;
}

.testimonials__block {
  min-height: 362px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 40px 154px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .testimonials__block {
    padding: 40px 35px;
  }
}

.testimonials__subtext {
  max-width: 434px;
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
}

.testimonials__subtitle {
  color: #252B42;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: center;
}

/* App */
.app {
  background: #252B42;
  padding: 80px 0;
}

.app__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__text {
  max-width: 470px;
  margin-top: 10px;
}

.row-app {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .row-app {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 970px) {
  .row-app {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.app__item {
  max-width: 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #BDBDBD;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.app__item:hover {
  background: #fff;
}
.app__item:hover .app__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #252B42;
}
.app__item:hover ._icon-3:before, .app__item:hover ._icon-4:before, .app__item:hover ._icon-5:before, .app__item:hover ._icon-6:before {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #252B42;
}
@media (max-width: 767px) {
  .app__item {
    background: #fff;
  }
  .app__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .app__item:hover {
    background: #252B42;
  }
  .app__item:hover .app__link {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #fff;
  }
  .app__item:hover ._icon-3:before, .app__item:hover ._icon-4:before, .app__item:hover ._icon-5:before, .app__item:hover ._icon-6:before {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #fff;
  }
}
@media (max-width: 970px) {
  .app__item {
    margin: 0 10px 10px 10px;
  }
}

.app__link {
  padding: 22px 28px;
  padding-left: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  .app__link {
    color: #252B42;
  }
}

._icon-3:before, ._icon-4:before, ._icon-5:before, ._icon-6:before {
  font-size: 38px;
  padding: 0 22px;
}
@media (max-width: 767px) {
  ._icon-3, ._icon-4, ._icon-5, ._icon-6 {
    color: #252B42;
  }
}

/* Pricing */
.pricing {
  background: #252B42;
  padding: 160px 0;
}

.pricing__text {
  min-height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}

.pricing__describtion {
  max-width: 470px;
}

/* Cards */
.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1107px) {
  .pricing__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing__item {
  background: #fff;
  margin-bottom: 10px;
  border: 1px solid #23A6F0;
  border-radius: 10px;
}
@media (max-width: 1107px) {
  .pricing__item {
    margin-bottom: 30px;
  }
  .pricing__item:not(:last-child) {
    margin-right: 0;
  }
}

.pricing__inner {
  max-width: 508px;
  min-height: 243px;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 551px) {
  .pricing__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pricing__subtext {
  width: 50%;
  margin-right: 30px;
}
@media (max-width: 551px) {
  .pricing__subtext {
    width: 100%;
    margin-right: 0;
  }
}

.pricing__subtitle {
  color: #23A6F0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
@media (max-width: 551px) {
  .pricing__subtitle {
    text-align: center;
  }
}

.pricing__subdescribtion {
  max-width: 217px;
  margin-top: 15px;
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
@media (max-width: 551px) {
  .pricing__subdescribtion {
    text-align: center;
  }
}

.pricing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 551px) {
  .pricing__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

.price {
  margin-right: 10px;
  color: #23A6F0;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.price__permonth {
  color: #8EC2F2;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.pricing__button {
  margin-top: 25px;
}

.pricing_link {
  display: block;
  color: #23A6F0;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid #23A6F0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pricing_link:hover {
  color: #fff;
  background: #23A6F0;
}

/* branches */
.branches {
  background: #252B42;
  padding: 50px 0;
}

.branches__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 950px) {
  .branches__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.branches__text {
  max-width: 455px;
}

.branches__title {
  text-align: left;
}

.branches__describtion {
  margin-top: 15px;
  text-align: left;
}

.branches__img {
  max-width: 416px;
  max-height: 269px;
}
@media (max-width: 950px) {
  .branches__img {
    margin-top: 80px;
  }
}

.branches__image {
  width: 100%;
}

/* contact */
.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#252B42), color-stop(40%, #252B42), color-stop(40%, #FAFAFA), to(#FAFAFA));
  background: linear-gradient(to bottom, #252B42 0%, #252B42 40%, #FAFAFA 40%, #FAFAFA 100%);
  padding: 100px 0;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column-form {
  width: 58%;
  min-height: 610px;
}

.contact__img {
  max-width: 267px;
  max-height: 610px;
}

.contact__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__form {
  padding: 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #fff;
}

.title-contact {
  color: #252B42;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
}

.contact__card {
  width: 100%;
  max-width: 510px;
  min-height: 366px;
}

.contact__button {
  width: 100%;
  max-width: 510px;
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-contact {
  width: 100%;
  min-height: 52px;
  background: transparent;
  color: #23A6F0;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid #23A6F0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button-contact:hover {
  background: #23A6F0;
  color: #fff;
}

.contact__subtitle {
  color: #252B42;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.contact__field {
  width: 100%;
  min-height: 55px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 11px 0 11px 21px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.contact-field {
  background: url("img/2.svg") no-repeat right center;
  background-color: #F9F9F9;
  background-position-x: calc(100% - 30px);
  color: #737373;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.contact__inner {
  width: 100%;
  min-height: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .column-form {
    width: 100%;
    min-height: 560px;
  }

  .contact__form {
    padding: 40px 20px;
  }

  .contact__button {
    margin-top: 30px;
  }

  .container-contact {
    padding: 0;
  }

  .contact__img {
    max-width: 767px;
  }

  .contact__image img {
    width: 100%;
  }

  .column-img {
    width: 100%;
  }

  .contact {
    padding-bottom: 0px;
  }

  .contact__inner {
    margin-top: 40px;
  }

  .contact__subtitle {
    margin: 10px 0;
  }
}